html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #a9dce3;
  overflow-x: hidden;
  color: #7689de;
  font-weight: bold;
  text-shadow: 2px;
}

#headerText {
  position: relative;
  left: 100px;
}

#header {
  border: 50px solid transparent;
  border-color: white;
  font-size: 70px;
  width: 94%;

  
}
.subheaders {
  font-size: 60px;
}

.paragraph {
  font-size: 45px;
  max-width: 40%;
}

#costImage {
position: absolute;
  right: 350px;
  top: 1000px;
  width: 400px;
}
#pollutionTriangleImage {
position: absolute;
  right: 350px;
  top: 2000px;
  width: 400px;
}

#wholeParagraph {
  margin-left: 100px;
}
